<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Script.js"></script>
    <script src="Scripts/filters.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles.css">
    <meta charset="UTF-8">
    <title>Document 1</title>

</head>
<body

<div ng-controller="myCtrl">

    <ul>
        <li ng-repeat="country in countries" ng-init="parentIndex = $index">
            {{country.name}}

            <ul><li ng-repeat="city in country.cities">{{city.name}}</li></ul>
        </li>

    </ul>





 </div>

</body>
</html>