<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Script.js"></script>
    <script src="Scripts/filters.js"></script>
    <link rel="stylesheet" type="text/css" href="Styles.css">
    <meta charset="UTF-8">
    <title>Document 1</title>

</head>
<body >

<div>

    <div ng-init="employees = [
    {name:'Vadim',gender: 'male', salary:5500},
    {name:'Sara',gender: 'female', salary:6800},
    {name:'Mark',gender: 'male', salary:5700},
    {name:'Pam',gender: 'male', salary:5300},
    {name:'Todd',gender: 'male', salary:5200}
    ]">

Hide Salary<input type="checkbox" ng-model="hideSalary" >
    <br />
    <br />
    <table>
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Salary
            </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employe in employees ">
            <td>{{employe.name}}</td>
            <td>{{employe.gender}}</td>
            <td ng-hide="hideSalary">{{employe.salary}}</td>
        </tr>

        </tbody>

    </table>


 </div>

</body>
</html>